* {
    background: black;
}
h1 {
    font-family: "libre baskerville";
    color: white;
    text-align: center;
}
p {
    color: white;
    text-align: center;
}
.motivation-img {
    border: 5px solid white;
    width: 100%;
}
div {
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
}
